# Stadt Aachen - Einwohnerstatistik

Einwohnerstatistik vom 30.6.2018
Link: http://offenedaten.aachen.de/dataset/einwohnerstatistik

In [2]:
import pandas as pd

data = pd.read_csv("stadt-aachen/uac-open-datadata201806opendataaachen-daten-statistische-bezirkealle.csv", encoding='ANSI')
data.head()

,Bez,StatBezName,Pers,HW,NW,M,W,LD,VH,VW,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90um,Deutsch,Ausl
0,10,Markt,2736,2695,41,1617,1119,1968,529,87,...,108,98,64,71,63,58,21,13,2061,675
1,13,Theater,2662,2632,30,1512,1150,1846,536,111,...,107,92,88,84,90,75,32,23,2090,572
2,14,Lindenplatz,4296,4241,55,2332,1964,3150,741,196,...,156,128,111,97,121,130,90,60,3341,955
3,15,St. Jakob,6365,6300,65,3536,2829,4672,1209,150,...,250,217,153,123,110,83,46,16,5210,1155
4,16,Westpark,8228,8133,95,4527,3701,5467,2090,309,...,365,310,227,191,217,181,114,55,6721,1507

## Aachens weiblichster Stadtteil

In [3]:
data['percent_W'] = data.W / data.Pers * 100

data.sort_values(by=['percent_W'], ascending=False)[['StatBezName', 'percent_W']].head()

    StatBezName  percent_W
22  Steinebrück  52.932142
25        Brand  52.020792
30      Walheim  51.379262
18        Forst  51.363874
32  Laurensberg  51.352891

## Aachens männlichster Stadtteil

In [4]:
data['percent_M'] = data.M / data.Pers * 100

top5_m_city = data.sort_values(by=['percent_M'], ascending=False)[['StatBezName', 'percent_M']].head()
top5_m_city

       StatBezName  percent_M
7          Ponttor  60.194417
0            Markt  59.100877
8   Hansemannplatz  57.582625
14     Panneschopp  57.053866
1          Theater  56.799399

In [18]:
city_by_percent_male = data[['StatBezName', 'percent_M']]
type(city_by_percent_male)
city_by_percent_male.values.tolist()

[['Markt', 59.10087719298246],
 ['Theater', 56.79939894815927],
 ['Lindenplatz', 54.283054003724395],
 ['St. Jakob', 55.55380989787903],
 ['Westpark', 55.01944579484687],
 ['Hanbruch', 49.065934065934066],
 ['Hörn', 52.22082359287897],
 ['Ponttor', 60.194416749750744],
 ['Hansemannplatz', 57.58262511803588],
 ['Soers', 48.844537815126046],
 ['Jülicher Str.', 55.96746232831045],
 ['Kalkofen', 50.59040590405905],
 ['Kaiserplatz', 56.349894684673515],
 ['Adalbertsteinweg', 56.757299086987054],
 ['Panneschopp', 57.05386588493953],
 ['Rothe Erde', 53.486529318542],
 ['Trierer Str.', 51.174934725848566],
 ['Frankenberg', 52.204605948385606],
 ['Forst', 48.636125850085946],
 ['Beverau', 48.99328859060403],
 ['Burtsch. Kurgarten', 53.53636545782409],
 ['Burtscheider Abtei', 51.440439501540936],
 ['Steinebrück', 47.067858140184306],
 ['Marschiertor', 54.967666078777185],
 ['Hangeweiher', 49.29275610801543],
 ['Brand', 47.97920803644434],
 ['Eilendorf', 49.27128611608284],
 ['Haaren', 51.065712217485725],
 ['Kornelimünster', 48.7717195925704],
 ['Oberforstbach', 49.46975648075412],
 ['Walheim', 48.62073843542227],
 ['Vaalserquartier', 53.71434231378765],
 ['Laurensberg', 48.64710908573056],
 ['Richterich', 49.236597405579154]]

In [21]:
import matplotlib.pyplot as plt

#plt.plot('x', 'y', data=city_by_percent_male.values)

## Aachens jüngster Stadtteil

In [35]:
data['percent_u30'] = (data['0-2'] + data['3-5'] + data['6-9'] + data['10-14'] + data['15-17'] + data['18-19'] 
                       + data['20-24'] + data['25-29']) / data.Pers * 100

data.sort_values(by=['percent_u30'], ascending=False)[['StatBezName', 'percent_u30']].head()

     StatBezName  percent_u30
7        Ponttor    60.942173
3      St. Jakob    55.208170
0          Markt    54.788012
2    Lindenplatz    54.539106
23  Marschiertor    50.073486

## Aachens ältester Stadtteil

In [36]:
# 60-64,65-69,70-74,75-79,80-84,85-89,90um
data['percent_ü60'] = (data['60-64'] + data['65-69'] + data['70-74'] + data['75-79'] + data['80-84'] + data['85-89'] 
                       + data['90um']) / data.Pers * 100

data.sort_values(by=['percent_ü60'], ascending=False)[['StatBezName', 'percent_ü60']].head()

       StatBezName  percent_ü60
22     Steinebrück    35.492879
30         Walheim    33.427642
28  Kornelimünster    32.654284
29   Oberforstbach    32.266300
33      Richterich    31.775916

## Geschiedene

In [39]:
data['percent_gs'] = data.GS / data.Pers * 100
data.sort_values(by=['percent_gs'], ascending=False)[['StatBezName', 'percent_gs']].head()

     StatBezName  percent_gs
15    Rothe Erde   10.380349
16  Trierer Str.    9.300012
14   Panneschopp    8.489068
25         Brand    8.182455
26     Eilendorf    8.175658

## Verheiratete

In [41]:
data['percent_vh'] = data.VH / data.Pers * 100
data.sort_values(by=['percent_vh'], ascending=False)[['StatBezName', 'percent_vh']].head()

      StatBezName  percent_vh
29  Oberforstbach   48.743126
30        Walheim   48.111473
19        Beverau   47.890700
25          Brand   46.653428
33     Richterich   46.561818

## Anzahl Einwohner

In [46]:
print(data['Pers'].sum())
print(data['M'].sum())
print(data['W'].sum())

254993
132940
122053